.text{
  &--color {
    color: $text-grey;
  }
  &--dark-color {
    color: #494949;
  }
  &--center {
    max-width: rem-calc(600);
    text-align: center;
    margin: auto;
    font-size: 20px;
  }
  &--left-size {
    max-width: 555px;
  }
}