<div class="form-textfield {{ modifier_class('textfield', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <input placeholder="{{ placeholder }}" type="text" id="sender" size="20"/>
</div>
