.section{
  padding-bottom: rem-calc(70);
  &__headline{
    text-align: center;
    padding-bottom: $spacer3;
    padding: rem-calc(84) 0 rem-calc(60);
    &--left{
      text-align: left;
    }
  &--no-spacing{
    padding: rem-calc(0) 0;
  }
  }

  &--greyed {
  background-color: $keytec-grey;
  }

  &--has-color {
    padding-top: 60px;
    margin-bottom: 60px;

  }
}
