.section{
  padding-bottom: rem-calc(70);
  &__headline{
    text-align: center;
    padding-bottom: $spacer3;
    padding: rem-calc(84) 0 10px;
  &--no-spacing{
    padding: rem-calc(0) 0;
  }
  }

  &--greyed {
  background-color: $keytec-grey;
  }

  &--no-spacing {
    padding-bottom: rem-calc(0);
  }
}
