<div class="one-col {{ modifier_class('one-col', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <div class="row ">
        <div class="small-12 columns ">
            {% block content %}
           {{- content -}}
            {% endblock content %}
        </div>
    </div>
</div>


