@include breakpoint(medium up) {
  .media-object-section--dotted {

    &__kicker {
      color: #c7c7c7;
      font-size: 20px;
      font-weight: bold;
    }

    &--right {
      border-right: 2px dotted #cecece;
      border-bottom: 2px dotted #cecece;
      padding-top: 50px;
      padding: 50px;
      margin-left: 150px;
      margin-bottom: 0;
      margin-right: 150px;
      .main-section {
        margin-left: -150px;
      }
      .thumbnail {
        margin-right: -170px;
      }
    }

    &--left {
      border-left: 2px dotted #cecece;
      border-bottom: 2px dotted #cecece;
      padding-top: 50px;
      padding: 50px;
      margin-left: 150px;
      margin-bottom: 0;
      margin-right: 150px;
      .main-section {
        margin-right: -150px;
      }
      .thumbnail {
        margin-left: -190px;
      }
    }

    img {
      max-width: 100%;
    }

  }
}