<div class="form-textarea {{ modifier_class('form-textarea', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <textarea placeholder="{{ placeholder }}" id="message" name="message" cols="20" rows="5" size="120"></textarea>
</div>



