<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../../../../bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../../../../bower_components/jquery-ui/themes/base/core.css">
    <link rel="stylesheet" href="../../../../bower_components/jquery-ui/themes/base/theme.css">
    <link rel="stylesheet" href="../../../../bower_components/jquery-ui/themes/base/slider.css">
    <link rel="stylesheet" href="../../../../fonts/balzac/balzac.css">
    <link rel="stylesheet" href="../../../../dest/style.css">
    <!-- endinject -->
    <link rel="stylesheet" href="../../../../source/styleguide/custom-styleguide-specific.css">

	</head>
	<body class="{{ bodyClass }}">

