
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <script type="text/javascript">
    // Fake demo data for Drupal JavaScript settings object.
    var drupalSettings = {
      breakpointMediaQueries: {
        mobile: 'all and (min-width: 0px) and (max-width: 767px)',
        tabletportrait: 'all and (min-width: 768px) and (max-width: 899px)',
        tabletlandscape: 'all and (min-width: 900px) and (max-width: 1024px)',
        desktop: 'all and (min-width: 1025px)'
      }
    };
  </script>

  <!-- inject:js -->
  <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../../../bower_components/jquery-once/jquery.once.js"></script>
  <script src="../../../../bower_components/domready/ready.js"></script>
  <script src="../../../../bower_components/slick-carousel/slick/slick.js"></script>
  <script src="../../../../bower_components/underscore/underscore.js"></script>
  <script src="../../../../bower_components/backbone/backbone.js"></script>
  <script src="../../../../bower_components/matchmedia/matchMedia.js"></script>
  <script src="../../../../bower_components/matchmedia/matchMedia.addListener.js"></script>
  <script src="../../../../bower_components/drupal8/index.js"></script>
  <script src="../../../../bower_components/autosize/dist/autosize.js"></script>
  <script src="../../../../bower_components/jquery-ui/ui/core.js"></script>
  <script src="../../../../bower_components/jquery-ui/ui/widget.js"></script>
  <script src="../../../../bower_components/jquery-ui/ui/mouse.js"></script>
  <script src="../../../../bower_components/jquery-ui/ui/slider.js"></script>
  <script src="../../../../bower_components/foundation-sites/dist/foundation.js"></script>
  <script src="../../../../dest/script.js"></script>
  <!-- endinject -->

	</body>
</html>
