.stage {
  position: relative;
  .image {
    img {
      width: 100%;
    }
  }
  .stage__layer {
    position: absolute;
    top: 10%;
    width: 100%;
  }
  &--center {

    .stage__layer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include breakpoint(medium up) {
  }
}


