<div class="stage {{ modifier_class('stage', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
  {% if src != null %}
    {% include "@atoms/image/image.twig" with{"src": src} only %}
  {% endif %}
  <div class="stage__layer">
    <div class="row ">
      {% if label != null %}
        <div class="medium-7 large-6 small-10 columns">
          {{ label }}
        </div>
      {% endif %}
    </div>
  </div>
</div>