<div class="stage {{ modifier_class('stage', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    {% if src != null %}
    {% include "@atoms/responsive-image/responsive-image.twig" with{"src": src} only %}
    {% endif %}
    {% if img != null %}
    {% include "@atoms/image/image.twig" with{"img": img} only %}
   {% endif %}
    <div class="stage__layer">
        <div class="row ">
            {% if label != null %}
            <div class="small-7 columns">
                {{ label }}
            </div>

        {% endif %}

        </div>
    </div>
</div>