.teaser {

  &__image {
    margin-bottom: rem-calc(20);
  }
  &__kicker {
    text-align: center;
    text-transform: uppercase;
    color: $medium-gray;
    letter-spacing: rem-calc(-1);
    margin-top: rem-calc(11);
    margin-bottom: rem-calc(2);
    font-size: rem-calc(17);
    line-height: 1;
  }
  &__headline {
    font-size: rem-calc(39);
    text-align: left;

  }
  &[href]:hover {
    &__headline {
      text-decoration: underline;
    }
  }
  &__subheadline {
      text-align: left;
      color: #c6c6c6;
      margin-top: 11px;
      font-size: 18px;
      font-family: Montserrat;
    color: $medium-gray;

    }

  &--center {
    .teaser__kicker {
      text-align: center;
    }
    .teaser__headline {
      text-align: center;
    }
  }

  @include breakpoint(medium down) {
    &__subheadline {
      font-size: rem-calc(18);
      margin-top: rem-calc(11);
    }
    &__headline {
      font-size: rem-calc(39);
    }
  }

}

