
.teaser {
  &:hover {
    .teaser__headline {
      text-decoration: underline;
      color: #98b6b8;
    }
  }
  &.callout {
    text-align: center;
  }

  &__image {
    margin-bottom: rem-calc(20);
  }
  &__kicker {
    text-transform: uppercase;
    color: $medium-gray;
    letter-spacing: rem-calc(-1);
    margin-top: rem-calc(11);
    margin-bottom: rem-calc(11);
    font-size: rem-calc(17);
    line-height: 1;

  }
  &:hover {
    text-decoration: none;
  }
  &__headline {
    font-size: rem-calc(39);
    text-align: left;

  }
  //&[href]:hover {
  //  &__headline {
  //text-decoration: underline;
  //color: #98b6b8;
  //}

  //}
  //&.headline:focus {
  //  &__headline {
  //    text-decoration: underline;
  //    color: #98b6b8;
  //  }
  //
  //}
  &__subheadline {
    text-align: left;
    color: #a2a0a1;
    font-size: 18px;
    font-family: Montserrat;
    //color: $medium-gray;
    text-decoration: none;
    margin-bottom: rem-calc(65);
    p {
      //text-decoration: none;
      margin-bottom: 0px;
    }
  }

  &--center {
    .teaser__kicker {
      text-align: center;
    }
    .teaser__headline {
      text-align: center;
    }
    text-align: center;
  }

  @include breakpoint(medium down) {

    &__subheadline {
      font-size: rem-calc(18);
      margin-top: rem-calc(11);
    }
    &__headline {
      .headline {
        font-size: rem-calc(31);
      }
    }
    &.callout {
      padding: 0rem;
    }
  }

}

