<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="add-photo">
    <i class="icon--add-photo"></i> icon--add-photo
  </div>
  
  <div class="icons__item" data-name="add-recipe">
    <i class="icon--add-recipe"></i> icon--add-recipe
  </div>
  
  <div class="icons__item" data-name="add-to-cart">
    <i class="icon--add-to-cart"></i> icon--add-to-cart
  </div>
  
  <div class="icons__item" data-name="add-video">
    <i class="icon--add-video"></i> icon--add-video
  </div>
  
  <div class="icons__item" data-name="angle-down">
    <i class="icon--angle-down"></i> icon--angle-down
  </div>
  
  <div class="icons__item" data-name="angle-left">
    <i class="icon--angle-left"></i> icon--angle-left
  </div>
  
  <div class="icons__item" data-name="angle-right">
    <i class="icon--angle-right"></i> icon--angle-right
  </div>
  
  <div class="icons__item" data-name="angle-up">
    <i class="icon--angle-up"></i> icon--angle-up
  </div>
  
  <div class="icons__item" data-name="bars">
    <i class="icon--bars"></i> icon--bars
  </div>
  
  <div class="icons__item" data-name="blog">
    <i class="icon--blog"></i> icon--blog
  </div>
  
  <div class="icons__item" data-name="calendar">
    <i class="icon--calendar"></i> icon--calendar
  </div>
  
  <div class="icons__item" data-name="caret-down">
    <i class="icon--caret-down"></i> icon--caret-down
  </div>
  
  <div class="icons__item" data-name="challenges">
    <i class="icon--challenges"></i> icon--challenges
  </div>
  
  <div class="icons__item" data-name="check">
    <i class="icon--check"></i> icon--check
  </div>
  
  <div class="icons__item" data-name="checkmark">
    <i class="icon--checkmark"></i> icon--checkmark
  </div>
  
  <div class="icons__item" data-name="chefshat">
    <i class="icon--chefshat"></i> icon--chefshat
  </div>
  
  <div class="icons__item" data-name="clock">
    <i class="icon--clock"></i> icon--clock
  </div>
  
  <div class="icons__item" data-name="closing-cite-quotes">
    <i class="icon--closing-cite-quotes"></i> icon--closing-cite-quotes
  </div>
  
  <div class="icons__item" data-name="closing-quotes">
    <i class="icon--closing-quotes"></i> icon--closing-quotes
  </div>
  
  <div class="icons__item" data-name="comments">
    <i class="icon--comments"></i> icon--comments
  </div>
  
  <div class="icons__item" data-name="cooking-time">
    <i class="icon--cooking-time"></i> icon--cooking-time
  </div>
  
  <div class="icons__item" data-name="difficulty">
    <i class="icon--difficulty"></i> icon--difficulty
  </div>
  
  <div class="icons__item" data-name="dkr-hat">
    <i class="icon--dkr-hat"></i> icon--dkr-hat
  </div>
  
  <div class="icons__item" data-name="dkr-logo">
    <i class="icon--dkr-logo"></i> icon--dkr-logo
  </div>
  
  <div class="icons__item" data-name="envelope-outline">
    <i class="icon--envelope-outline"></i> icon--envelope-outline
  </div>
  
  <div class="icons__item" data-name="envelope">
    <i class="icon--envelope"></i> icon--envelope
  </div>
  
  <div class="icons__item" data-name="euro">
    <i class="icon--euro"></i> icon--euro
  </div>
  
  <div class="icons__item" data-name="exclamation-triangle">
    <i class="icon--exclamation-triangle"></i> icon--exclamation-triangle
  </div>
  
  <div class="icons__item" data-name="facebook">
    <i class="icon--facebook"></i> icon--facebook
  </div>
  
  <div class="icons__item" data-name="fridge">
    <i class="icon--fridge"></i> icon--fridge
  </div>
  
  <div class="icons__item" data-name="group">
    <i class="icon--group"></i> icon--group
  </div>
  
  <div class="icons__item" data-name="heart-outline">
    <i class="icon--heart-outline"></i> icon--heart-outline
  </div>
  
  <div class="icons__item" data-name="heart">
    <i class="icon--heart"></i> icon--heart
  </div>
  
  <div class="icons__item" data-name="home">
    <i class="icon--home"></i> icon--home
  </div>
  
  <div class="icons__item" data-name="info-circle">
    <i class="icon--info-circle"></i> icon--info-circle
  </div>
  
  <div class="icons__item" data-name="instagram">
    <i class="icon--instagram"></i> icon--instagram
  </div>
  
  <div class="icons__item" data-name="like-to-cook">
    <i class="icon--like-to-cook"></i> icon--like-to-cook
  </div>
  
  <div class="icons__item" data-name="minus-circle">
    <i class="icon--minus-circle"></i> icon--minus-circle
  </div>
  
  <div class="icons__item" data-name="notification">
    <i class="icon--notification"></i> icon--notification
  </div>
  
  <div class="icons__item" data-name="nutrition">
    <i class="icon--nutrition"></i> icon--nutrition
  </div>
  
  <div class="icons__item" data-name="opening-cite-quotes">
    <i class="icon--opening-cite-quotes"></i> icon--opening-cite-quotes
  </div>
  
  <div class="icons__item" data-name="opening-quotes">
    <i class="icon--opening-quotes"></i> icon--opening-quotes
  </div>
  
  <div class="icons__item" data-name="original-recipe">
    <i class="icon--original-recipe"></i> icon--original-recipe
  </div>
  
  <div class="icons__item" data-name="overall-time">
    <i class="icon--overall-time"></i> icon--overall-time
  </div>
  
  <div class="icons__item" data-name="picture-outline">
    <i class="icon--picture-outline"></i> icon--picture-outline
  </div>
  
  <div class="icons__item" data-name="pinned">
    <i class="icon--pinned"></i> icon--pinned
  </div>
  
  <div class="icons__item" data-name="pinterest">
    <i class="icon--pinterest"></i> icon--pinterest
  </div>
  
  <div class="icons__item" data-name="play">
    <i class="icon--play"></i> icon--play
  </div>
  
  <div class="icons__item" data-name="plus-circle">
    <i class="icon--plus-circle"></i> icon--plus-circle
  </div>
  
  <div class="icons__item" data-name="preparation">
    <i class="icon--preparation"></i> icon--preparation
  </div>
  
  <div class="icons__item" data-name="price">
    <i class="icon--price"></i> icon--price
  </div>
  
  <div class="icons__item" data-name="print">
    <i class="icon--print"></i> icon--print
  </div>
  
  <div class="icons__item" data-name="recipe-book">
    <i class="icon--recipe-book"></i> icon--recipe-book
  </div>
  
  <div class="icons__item" data-name="refresh">
    <i class="icon--refresh"></i> icon--refresh
  </div>
  
  <div class="icons__item" data-name="salty">
    <i class="icon--salty"></i> icon--salty
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
  <div class="icons__item" data-name="settings">
    <i class="icon--settings"></i> icon--settings
  </div>
  
  <div class="icons__item" data-name="speed">
    <i class="icon--speed"></i> icon--speed
  </div>
  
  <div class="icons__item" data-name="star-outline-half">
    <i class="icon--star-outline-half"></i> icon--star-outline-half
  </div>
  
  <div class="icons__item" data-name="star-outline">
    <i class="icon--star-outline"></i> icon--star-outline
  </div>
  
  <div class="icons__item" data-name="star">
    <i class="icon--star"></i> icon--star
  </div>
  
  <div class="icons__item" data-name="sweet">
    <i class="icon--sweet"></i> icon--sweet
  </div>
  
  <div class="icons__item" data-name="thumb-down">
    <i class="icon--thumb-down"></i> icon--thumb-down
  </div>
  
  <div class="icons__item" data-name="thumb-up">
    <i class="icon--thumb-up"></i> icon--thumb-up
  </div>
  
  <div class="icons__item" data-name="times-circle">
    <i class="icon--times-circle"></i> icon--times-circle
  </div>
  
  <div class="icons__item" data-name="times">
    <i class="icon--times"></i> icon--times
  </div>
  
  <div class="icons__item" data-name="twitter">
    <i class="icon--twitter"></i> icon--twitter
  </div>
  
  <div class="icons__item" data-name="unsorted">
    <i class="icon--unsorted"></i> icon--unsorted
  </div>
  
  <div class="icons__item" data-name="user">
    <i class="icon--user"></i> icon--user
  </div>
  
  <div class="icons__item" data-name="vegan">
    <i class="icon--vegan"></i> icon--vegan
  </div>
  
  <div class="icons__item" data-name="vegetarian">
    <i class="icon--vegetarian"></i> icon--vegetarian
  </div>
  
  <div class="icons__item" data-name="youtube">
    <i class="icon--youtube"></i> icon--youtube
  </div>
  
</div>