<div class="text-header {{ modifier_class('text-header', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <div class="row">
        <div class="text-center small-12 columns">
            {% if tape_modifier != null %}
            {% include "@atoms/tape/tape.twig" with {"modifier":tape_modifier ,"label":label} only %}
            {% endif %}

            {% include "@atoms/text/text.twig" with {"text":text, "modifier":"dark-color center"} only %}
        </div>
    </div>
</div>

