<div class="text-header {{ modifier_class('text-header', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <div class="row">
        <div class="text-center small-12 columns">

            {{ content }}

        </div>
    </div>
  </div>
</div>

