.two-col {
  &__content {
    padding: 0 0 rem-calc(60) 0;
  }
  &--top{
    margin-top: rem-calc(70);
  }
  &--no-padding{
    .two-col__content {
      padding: 0;
    }
  }
  &--top-indent {
    img {
      margin-top: rem-calc(-90);
    }
  }
  &--large{
    padding: rem-calc(42) 0;
    @include breakpoint(medium){
      padding: rem-calc(84) 0;
    }
  }
  &--grey {
    .two-col__content {
      padding-top: 60px;
      margin-bottom: 60px;
      background-color: $keytec-grey;
    }
  }

  &--has-color {
    .two-col__content {
      padding-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__headline{
    text-align:left;
    padding-bottom: 20px;
  }
  &--greyed {
    background-color: $keytec-grey;
  }
  &__column {
    &--overlapping {
      margin-top: -20px;
    }
    &--large {
      padding-top: 70px;
      padding-bottom: 70px;
    }

  }
  &--red {
    background-color: #d3aaae;
  }
  &--orange {
    background-color: #e9ca91;
  }
  a {
    text-decoration: underline;
  }
}